In [1]:
pip install ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting ucimlrepo
  Downloading ucimlrepo-0.0.3-py3-none-any.whl.metadata (5.2 kB)
Downloading ucimlrepo-0.0.3-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
from ucimlrepo import fetch_ucirepo 
predict_students_dropout_and_academic_success = fetch_ucirepo(id=697) 
X = predict_students_dropout_and_academic_success.data.features 
y = predict_students_dropout_and_academic_success.data.targets 
print(predict_students_dropout_and_academic_success.metadata) 
print(predict_students_dropout_and_academic_success.variables)

{'uci_id': 697, 'name': "Predict students' dropout and academic success", 'repository_url': 'https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success', 'data_url': 'https://archive.ics.uci.edu/static/public/697/data.csv', 'abstract': "A dataset created from a higher education institution (acquired from several disjoint databases) related to students enrolled in different undergraduate degrees, such as agronomy, design, education, nursing, journalism, management, social service, and technologies.\nThe dataset includes information known at the time of student enrollment (academic path, demographics, and social-economic factors) and the students' academic performance at the end of the first and second semesters. \nThe data is used to build classification models to predict students' dropout and academic sucess. The problem is formulated as a three category classification task, in which there is a strong imbalance towards one of the classes.", 'area': 'Other', 'tasks': ['Classification'], 'characteristics': ['Tabular'], 'num_instances': 4424, 'num_features': 36, 'feature_types': [], 'demographics': ['Marital Status', 'Education Level', 'Nationality', 'Occupation', 'Gender', 'Age'], 'target_col': ['Target'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2021, 'last_updated': 'Mon Aug 28 2023', 'dataset_doi': '10.24432/C5MC89', 'creators': ['Valentim Realinho', 'Mónica Vieira Martins', 'Jorge Machado', 'Luís Baptista'], 'intro_paper': {'title': "Early prediction of student's performance in higher education: a case study", 'authors': 'Mónica V. Martins, Daniel Tolledo, Jorge Machado, Luís M. T. Baptista, and Valentim Realinho', 'published_in': 'Trends and Applications in Information Systems and Technologies', 'year': 2021, 'url': 'http://www.worldcist.org/2021/', 'doi': 'http://www.doi.org/10.1007/978-3-030-72657-7_16'}, 'additional_info': {'summary': None, 'purpose': 'The dataset was created in a project that aims to contribute to the reduction of academic dropout and failure in higher education, by using machine learning techniques to identify students at risk at an early stage of their academic path, so that strategies to support them can be put into place. \n\nThe dataset includes information known at the time of student enrollment – academic path, demographics, and social-economic factors. \n\nThe problem is formulated as a three category classification task (dropout, enrolled, and graduate) at the end of the normal duration of the course. \n', 'funded_by': 'This dataset is supported by program SATDAP - Capacitação da Administração Pública under grant POCI-05-5762-FSE-000191, Portugal.', 'instances_represent': 'Each instance is a student', 'recommended_data_splits': 'The dataset was used, in our project, with a data split of 80% for training and 20% for test.', 'sensitive_data': None, 'preprocessing_description': 'We performed a rigorous data preprocessing to handle data from anomalies, unexplainable outliers, and missing values.', 'variable_info': None, 'citation': 'If you use this dataset in experiments for a scientific publication, please kindly cite our paper: \nM.V.Martins, D. Tolledo, J. Machado, L. M.T. Baptista, V.Realinho. (2021) "Early prediction of student’s performance in higher education: a case study" Trends and Applications in Information Systems and Technologies, vol.1, in Advances in Intelligent Systems and Computing series. Springer. DOI: 10.1007/978-3-030-72657-7_16'}}
                                              name     role         type  \
0                                   Marital Status  Feature      Integer
1                                 Application mode  Feature      Integer
2                                Application order  Feature      Integer
3                                           Course  Feature      Integer
4                       Daytime/evening attendance  Feature      Integer
5                           Previous qualification  Feature      Integer
6                   Previous qualification (grade)  Feature   Continuous
7                                      Nacionality  Feature      Integer
8                           Mother's qualification  Feature      Integer
9                           Father's qualification  Feature      Integer
10                             Mother's occupation  Feature      Integer
11                             Father's occupation  Feature      Integer
12                                 Admission grade  Feature   Continuous
13                                       Displaced  Feature      Integer
14                       Educational special needs  Feature      Integer
15                                          Debtor  Feature      Integer
16                         Tuition fees up to date  Feature      Integer
17                                          Gender  Feature      Integer
18                              Scholarship holder  Feature      Integer
19                               Age at enrollment  Feature      Integer
20                                   International  Feature      Integer
21             Curricular units 1st sem (credited)  Feature      Integer
22             Curricular units 1st sem (enrolled)  Feature      Integer
23          Curricular units 1st sem (evaluations)  Feature      Integer
24             Curricular units 1st sem (approved)  Feature      Integer
25                Curricular units 1st sem (grade)  Feature      Integer
26  Curricular units 1st sem (without evaluations)  Feature      Integer
27             Curricular units 2nd sem (credited)  Feature      Integer
28             Curricular units 2nd sem (enrolled)  Feature      Integer
29          Curricular units 2nd sem (evaluations)  Feature      Integer
30             Curricular units 2nd sem (approved)  Feature      Integer
31                Curricular units 2nd sem (grade)  Feature      Integer
32  Curricular units 2nd sem (without evaluations)  Feature      Integer
33                               Unemployment rate  Feature   Continuous
34                                  Inflation rate  Feature   Continuous
35                                             GDP  Feature   Continuous
36                                          Target   Target  Categorical

        demographic                                        description units  \
0    Marital Status  1 – single 2 – married 3 – widower 4 – divorce...  None
1              None  1 - 1st phase - general contingent 2 - Ordinan...  None
2              None  Application order (between 0 - first choice; a...  None
3              None  33 - Biofuel Production Technologies 171 - Ani...  None
4              None                            1 – daytime 0 - evening  None
5   Education Level  1 - Secondary education 2 - Higher education -...  None
6              None  Grade of previous qualification (between 0 and...  None
7       Nationality  1 - Portuguese; 2 - German; 6 - Spanish; 11 - ...  None
8   Education Level  1 - Secondary Education - 12th Year of Schooli...  None
9   Education Level  1 - Secondary Education - 12th Year of Schooli...  None
10       Occupation  0 - Student 1 - Representatives of the Legisla...  None
11       Occupation  0 - Student 1 - Representatives of the Legisla...  None
12             None                Admission grade (between 0 and 200)  None
13             None                                     1 – yes 0 – no  None
14             None                                     1 – yes 0 – no  None
15             None                                     1 – yes 0 – no  None
16             None                                     1 – yes 0 – no  None
17           Gender                                1 – male 0 – female  None
18             None                                     1 – yes 0 – no  None
19              Age                       Age of studend at enrollment  None
20             None                                     1 – yes 0 – no  None
21             None  Number of curricular units credited in the 1st...  None
22             None  Number of curricular units enrolled in the 1st...  None
23             None  Number of evaluations to curricular units in t...  None
24             None  Number of curricular units approved in the 1st...  None
25             None  Grade average in the 1st semester (between 0 a...  None
26             None  Number of curricular units without evalutions ...  None
27             None  Number of curricular units credited in the 2nd...  None
28             None  Number of curricular units enrolled in the 2nd...  None
29             None  Number of evaluations to curricular units in t...  None
30             None  Number of curricular units approved in the 2nd...  None
31             None  Grade average in the 2nd semester (between 0 a...  None
32             None  Number of curricular units without evalutions ...  None
33             None                              Unemployment rate (%)  None
34             None                                 Inflation rate (%)  None
35             None                                                GDP  None
36             None  Target. The problem is formulated as a three c...  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
31             no
32             no
33             no
34             no
35             no
36             no

In [3]:
X

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,0,6,8,5,12.666667,0,15.5,2.8,-4.06
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,0,6,6,2,11.000000,0,11.1,0.6,2.02
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,0,8,9,1,13.500000,0,13.9,-0.3,0.79
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,0,5,6,5,12.000000,0,9.4,-0.8,-3.12
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,0,6,6,6,13.000000,0,12.7,3.7,-1.70

In [4]:
y

        Target
0      Dropout
1     Graduate
2      Dropout
3     Graduate
4     Graduate
...        ...
4419  Graduate
4420   Dropout
4421   Dropout
4422  Graduate
4423  Graduate

[4424 rows x 1 columns]